body, h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}
  .bgimg {
    /* background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../img/park-troopers-RAtKWVlfdf4-unsplash.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) );
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
